*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #323232;
  color: white;
  margin: 0;
  padding: 16px;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

main {
  marign: 0;
  padding: 0 30px;
}

nav {
  margin: 0 auto 10px;
  text-align: center;
  padding: 1px;
}

.menuitem {
  background-color: lightgrey;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 10px;
  margin: 0 2px;
}

.menuitem a {
  color: white;
  text-decoration: none;
}

.menuitem:hover {
  background-color: black;
}

.photocounter {
  background-color: aquamarine;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}

.photocounter span {
  font-weight: bold;
  border-bottom: 3px solid gold;
}

.gallery {
  margin: 0;
}

.row {
  margin: 12px 0;
  text-align: center;
}

.photo {
  display: inline-block;
  width: 33.1%;
  margin: 0;
}

.middle {
  margin: 0 0.2%;
}

img {
  width: 100%;
  height: auto;
}

.modify {
  font-size: 12px;
  background-color: gold;
  text-align: center;
  padding: 6px;
}

footer {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 11px;
  font-weight: 100;
}
